<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">

    <title>AVA 2.0</title>
</head>

<body>
    <header id="header">
        <section>
            <a id="logo"></a>
        </section>
        <section>
            <ul>
                <li>
                    <a id="i-menu"></a>
                </li>
                <li>
                    <a id="i-trend"></a>
                </li>
                <li>
                    <a id="i-message"></a>
                </li>
                <li>
                    <a id="i-file"></a>
                </li>
                <li>
                    <a id="i-user"></a>
                </li>
                <li>
                    <a id="i-settings"></a>
                </li>
            </ul>
        </section>
        <section>
            <div class="circular-button">
                <a id="i-exit"></a>
            </div>
        </section>
    </header>
    <section id="content">
        {% block body %}{% endblock %}
    </section>
    <section id="side"></section>
</body>

</html>