{%extends 'base.html'%} {%block body%}
<section id="h-section-title">
    <a id="h-title">
        Ambiente Virtual de Aprendizagem
    </a>
    <a class="button-help">Precisa de Ajuda?</a>
</section>
<section id="h-sub-t">
    <a id="h-sub">Seja bem-vindo de volta, Breno Cocheto!</a>
</section>
<section id="h-shortcuts-f">
    <a id="h-shortcuts-title">Atalhos</a>
    <div id="h-shortcuts-card">
        <a id="h-shortcuts-card-title">Avaliações</a>
        <a id="h-shortcuts-card-content">8</a>
    </div>
    <div id="h-shortcuts-card">
        <a id="h-shortcuts-card-title">Trabalhos</a>
        <a id="h-shortcuts-card-content">10</a>
    </div>
    <div id="h-shortcuts-card">
        <a id="h-shortcuts-card-title">Fóruns</a>
        <a id="h-shortcuts-card-content">89</a>
    </div>
    <div id="h-shortcuts-card">
        <a id="h-shortcuts-card-title">Rendimento</a>
        <a id="h-shortcuts-card-content">46%</a>
    </div>
</section>
<section id="h-selector">
    <div class="midnav">
        <a>Disciplinas</a>
        <a>Disciplinas Anteriores</a>
    </div>
</section>
<section id="h-subject-f">
    <a id="h-subject-card">
        <a id="h-subject-card-title">Legislação Aplicada a Informática</a>
        <a id="h-subject-card-content">Professor:</a>
    </a>
</section>
{%endblock%}