{%extends 'base.html'%} {%block body%}
<section id="h-section-title">
    <a id="h-title">
        Ambiente Virtual de Aprendizagem
    </a>
    <a class="button-help">Precisa de Ajuda?</a>
</section>
<section id="h-sub-t">
    <a id="h-sub">Seja bem-vindo de volta, Breno Cocheto!</a>
</section>
<section id="h-shortcuts-f">
    <a id="h-shortcuts-title">Atalhos</a>
    <div id="h-shortcuts-card">
        <a id="h-shortcuts-card-title">Avaliações</a>
        <a id="h-shortcuts-card-content">8</a>
    </div>
    <div id="h-shortcuts-card">
        <a id="h-shortcuts-card-title">Trabalhos</a>
        <a id="h-shortcuts-card-content">10</a>
    </div>
    <div id="h-shortcuts-card">
        <a id="h-shortcuts-card-title">Fóruns</a>
        <a id="h-shortcuts-card-content">89</a>
    </div>
    <div id="h-shortcuts-card">
        <a id="h-shortcuts-card-title">Rendimento</a>
        <a id="h-shortcuts-card-content">46%</a>
    </div>
</section>
<section id="h-selector">
    <div class="midnav">
        <a>Disciplinas</a>
        <a>Disciplinas Anteriores</a>
    </div>
</section>
<section id="h-subject-f">
    <div id="h-subject-card">
        <a id="h-subject-card-title">Legislação Aplicada a Informática</a>
        <a id="h-subject-card-prof">Professor:</a>
        <a id="h-subject-card-name">Maria Fernanda</a>
        <a id="h-subject-card-period">Periodo</a>
        <a id="h-subject-card-time">Horário</a>
        <a id="h-subject-card-number">4°</a>
        <a id="h-subject-card-hour">19:00 - 22:00</a>
        <a id="h-subject-card-line"></a>
        <button class="h-subject-card-button"> Acessar</button>
    </div>
    <div id="h-subject-card">
        <a id="h-subject-card-title">Lab. De Programação De Interface</a>
        <a id="h-subject-card-prof">Professor:</a>
        <a id="h-subject-card-name">Tássinhu Hadad</a>
        <a id="h-subject-card-period">Periodo</a>
        <a id="h-subject-card-time">Horário</a>
        <a id="h-subject-card-number">4°</a>
        <a id="h-subject-card-hour">19:00 - 22:00</a>
        <a id="h-subject-card-line"></a>
        <button class="h-subject-card-button"> Acessar</button>
    </div>
    <div id="h-subject-card">
        <a id="h-subject-card-title">Gestão Ambiental</a>
        <a id="h-subject-card-prof">Professor:</a>
        <a id="h-subject-card-name">Cléber Paschoal</a>
        <a id="h-subject-card-period">Periodo</a>
        <a id="h-subject-card-time">Horário</a>
        <a id="h-subject-card-number">4°</a>
        <a id="h-subject-card-hour">19:00 - 22:00</a>
        <a id="h-subject-card-line"></a>
        <button class="h-subject-card-button"> Acessar</button>
    </div>
    <div id="h-subject-card">
        <a id="h-subject-card-title">Gestão Estratégica De Pessoas</a>
        <a id="h-subject-card-prof">Professor:</a>
        <a id="h-subject-card-name">Claudenir</a>
        <a id="h-subject-card-period">Periodo</a>
        <a id="h-subject-card-time">Horário</a>
        <a id="h-subject-card-number">4°</a>
        <a id="h-subject-card-hour">19:00 - 22:00</a>
        <a id="h-subject-card-line"></a>
        <button class="h-subject-card-button"> Acessar</button>
    </div>
    <div id="h-subject-card">
        <a id="h-subject-card-title">Modelagem De Banco De Dados</a>
        <a id="h-subject-card-prof">Professor:</a>
        <a id="h-subject-card-name">Anrã Du Guetto</a>
        <a id="h-subject-card-period">Periodo</a>
        <a id="h-subject-card-time">Horário</a>
        <a id="h-subject-card-number">4°</a>
        <a id="h-subject-card-hour">19:00 - 22:00</a>
        <a id="h-subject-card-line"></a>
        <button class="h-subject-card-button"> Acessar</button>
    </div>
    <div id="h-subject-card">
        <a id="h-subject-card-title">Empreendedorismo E Inovação</a>
        <a id="h-subject-card-prof">Professor:</a>
        <a id="h-subject-card-name">Marquin Rich Araújo</a>
        <a id="h-subject-card-period">Periodo</a>
        <a id="h-subject-card-time">Horário</a>
        <a id="h-subject-card-number">4°</a>
        <a id="h-subject-card-hour">19:00 - 22:00</a>
        <a id="h-subject-card-line"></a>
        <button class="h-subject-card-button"> Acessar</button>
    </div>
</section>
{%endblock%}