{%extends 'base.html'%} {%block body%}
<section id="home">
    <div id="h-title">
        <h1 id="h-h1">Ambiente Virtual de Aprendizagem</h1>
    </div>
    <div id="h-sub">
        <h1 id="h-sub">Seja bem-vindo de volta, Breno Cocheto!</h1>
    </div>
    <div id="h-help"></div>
    <div id="h-summary">
        <h1>Atalhos</h1>
    </div>
    <div id="h-shortcuts">
        <div id="h-container"> BBBB</div>
        <div id="h-container"> BBBB</div>
        <div id="h-container"> BBBB</div>
        <div id="h-container"> BBBB</div>
    </div>
    <div id="h-select"></div>
    <div id="h-subjects"></div>
    <div id="h-side"></div>
</section>
{%endblock%}