{%extends 'base.html'%} {%block body%}
<section id="s-section-title">
    <a id="s-title">
        Lab de Programação de Interface
    </a>
    <a class="button-help">Falar com o Professor</a>
</section>
<section id="h-sub-t">
    <a id="h-sub">Seja bem-vindo de volta, Breno Cocheto, sua última aula assistida foi: Aula 7 - Adobe XD
        <link>(Você deseja retornar a aula?)</link>
    </a>
</section>
<section id="h-selector">
    <div class="midnav">
        <a>Conteúdo</a>
        <a>Todo Conteúdo</a>
    </div>
</section>
{%endblock%}