/** base.html **/

body{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-areas: "header content side";
    grid-template-columns: 75px 1fr 0.3fr;
    grid-template-rows: 100vh;
}
/** valores globais **/
:root{
    --icolor: white;
    --iheight: 20px;
    --iwidth: 20px;
    --imarginr: 18px;
    --imargint: 45px;
    
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato.ttf') format("ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.ttf') format("ttf");
}

/**código base.html**/
#header{
    z-index: 2;
    grid-area: header;
    background-color: black;
    display: grid;
    grid-template-areas: "logo" "button" "exit";
    grid-template-rows: auto auto auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo{
    grid-area: logo;
    display: block;
    background: url('../img/logo.svg') no-repeat center center;
    margin-top: 18px;
    margin-left: 9px;
    margin-right: 8px;
    height: 75px;
    width: 64px;
}

#i-menu{
    grid-area: button;
    display: block;
    background: url('../img/icons/menu.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-trend{
    grid-area: button;
    display: block;
    background: url('../img/icons/trend.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-message{
    grid-area: button;
    display: block;
    background: url('../img/icons/message.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-file{
    grid-area: button;
    display: block;
    background: url('../img/icons/file.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-user{
    grid-area: button;
    display: block;
    background: url('../img/icons/user.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-settings{
    grid-area: button;
    display: block;
    background: url('../img/icons/settings.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}

#i-exit{
    grid-area: button;
    display: block;
    background: url('../img/icons/log-out.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
}

#content{
    grid-area: content;
    background-color: #242526;
}

#side{
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circular-button {
  background-color:#373A3D;
  border: none;
  padding: 15px;
  margin-top: 121px;
  margin-left: 14px;
  margin-right: 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 50%;
}
/** home.html **/
/** título **/

#h-section-title{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


#h-title{
    font-family: "Raleway";
    color: #FAFAFA;
    font-size: 40px;
    font-weight: bold;
    padding-left: 29px;
}

.button-help {
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   color: #FAFAFA;
   font-family: "Lato";
   font-weight: bolder;
   font-size: 12px;
   padding: 15px;
   background-color: #781E20;
   -webkit-box-shadow: 0 3px 8px 0 #000000;
   -moz-box-shadow: 0 3px 8px 0 #000000;
   box-shadow: 0 3px 8px 0 #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 15px;
   margin-right: 28px;
}

/** subtitulo **/

#h-sub-t{
    display: flex;
    flex-direction: row;
    padding-left: 29px;
}

#h-sub{
    font-family: "Lato";
    font-size: 12px;
    color: #FAFAFA;
}
/** atalhos **/

#h-shortcuts-f{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 28.5px;
    padding-left: 29px;
}

#h-shortcuts-title{
    padding-left: 35px;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 14px;
    color: #FAFAFA;
    padding-right: 100%;
}

#h-shortcuts-card{
    background-color: #373A3D;
    margin-top: 14px;
    height: 110px;
    width: 210px;
    border-radius: 12px;
    box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.43);
    display: grid;
    grid-template-areas: "title-s" "content-s";
    grid-template-rows: 50% 50%;
}

#h-shortcuts-card-title{
    grid-area: title-s;
    margin-top: 28px;
    margin-left: 29px;
    font-family: "Lato";
    font-size: 14px;
    color: #919498;
}

#h-shortcuts-card-content{
    grid-area: content-s;
    margin-left: 29px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 32px;
    color: #FAFAFA;
}
/** navbar **/

#h-selector{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.midnav {
  overflow: hidden;
}

.midnav a {
  float: left;
  display: block;
  color: #FAFAFA;
  text-align: center;
  font-family: "Raleway";
  font-weight: bolder;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid transparent;
  margin-bottom: 10px;
}

.midnav a:hover {
  border-bottom: 3px solid #781E20;
}

.midnav a.active {
  border-bottom: 3px solid #781E20;
}
/** disciplinas **/

#h-subject-f{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 29px;
}

#h-subject-card{
    display: grid;
    grid-template-areas: 
    "title-subject title-subject" 
    "prof-subject prof-subject" 
    "name-subject name-subject"
    "period-subject time-subject"
    "number-subject hour-subject"
    "line-subject line-subject"
    "button-subject button-subject";
    background-color: #373A3D;
    height: 200px;
    width: 300px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.43);
}

#h-subject-card-title{
    margin-top: 23px;
    margin-left: 19px;
    grid-area: title-subject;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: bold;
    color: #FAFAFA;
}

#h-subject-card-prof{
    grid-area: prof-subject;
    margin-left: 29px;
    margin-top: 10px;
    font-family: "Lato";
    font-weight: lighter;
    font-size: 12px;
    color: #919498;
}

#h-subject-card-name{
    grid-area: name-subject;
    margin-left: 29px;
    margin-top: 4px;
    font-family: "Lato";
    font-weight: lighter;
    font-size: 14px;
    color: #919498;
}

#h-subject-card-period{
    grid-area: period-subject;
    margin-left: 29px;
    margin-top: 10px;
    font-family: "Lato";
    font-weight: lighter;
    font-size: 12px;
    color: #919498;
}

#h-subject-card-time{
    grid-area: time-subject;
    margin-left: 29px;
    margin-top: 10px;
    font-family: "Lato";
    font-weight: lighter;
    font-size: 12px;
    color: #919498;
}

#h-subject-card-number{
    grid-area: number-subject;
    margin-left: 29px;
    margin-top: 10px;
    font-family: "Lato";
    font-weight: lighter;
    font-size: 12px;
    color: #919498;
}

#h-subject-card-hour{
    grid-area: hour-subject;
    margin-left: 29px;
    margin-top: 10px;
    font-family: "Lato";
    font-weight: lighter;
    font-size: 12px;
    color: #919498;
}

#h-subject-card-line{
    grid-area: line-subject;
    margin-left: 9px;
    border-top: 1px solid #FAFAFA;
    width: 260px;
}

.h-subject-card-button {
    grid-area: button-subject;
    font-family: "Lato";
    color: #781E20;
    font-size: 14px;
    margin-left: 20.5px;
    margin-bottom: 14px;
    border: 0em;
    text-align: start;
    text-decoration: none;
    background: #373A3D;
}

.h-subject-card-button:hover {
    text-decoration: none;
}