body{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-areas: "header content";
    grid-template-columns: 75px 1fr;
    grid-template-rows: 100vh;
}

:root{
    --icolor: white;
    --iheight: 20px;
    --iwidth: 20px;
    --imarginr: 18px;
    --imargint: 45px;
}

#header{
    z-index: 2;
    grid-area: header;
    background-color: black;
    display: grid;
    grid-template-areas: "logo" "button" "exit";
    grid-template-rows: auto auto auto;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo{
    grid-area: logo;
    display: block;
    background: url('../img/logo.svg') no-repeat center center;
    margin-top: 18px;
    margin-left: 9px;
    margin-right: 8px;
    height: 75px;
    width: 64px;
}

#i-menu{
    grid-area: button;
    display: block;
    background: url('../img/icons/menu.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-trend{
    grid-area: button;
    display: block;
    background: url('../img/icons/trend.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-message{
    grid-area: button;
    display: block;
    background: url('../img/icons/message.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-file{
    grid-area: button;
    display: block;
    background: url('../img/icons/file.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-user{
    grid-area: button;
    display: block;
    background: url('../img/icons/user.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}
#i-settings{
    grid-area: button;
    display: block;
    background: url('../img/icons/settings.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
    margin-top: var(--imargint);
    margin-right: var(--imarginr);
}

#i-exit{
    grid-area: button;
    display: block;
    background: url('../img/icons/log-out.svg') no-repeat center center;
    height: var(--iheight);
    width: var(--iwidth);
}

#content{
    grid-area: content;
    background-color: #242526;
}

.circular-button {
  background-color:#373A3D;
  border: none;
  padding: 15px;
  margin-top: 121px;
  margin-left: 14px;
  margin-right: 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 50%;
}

#home{
    padding-left: 29px;
    display: grid;
    grid-template-areas: 
    "title help side" 
    "sub sub side"
    "summary summary side"
    "shortcuts shortcuts side" 
    "select select side" 
    "subjects subjects side";
    grid-template-rows: 10vh 3vh 5vh 12vh 15vh 55vh;
    grid-template-columns: 2fr 1fr 1fr;
}

#h-title{
    grid-area: title;
    font-family: "Raleway";
    src: url("../fonts/Raleway.ttf") format("ttf");
    color: #FAFAFA;
    font-size: 32px;
}


#h-sub{
    grid-area: sub;
     font-family: "Lato";
    src: url("../fonts/Lato.ttf") format("ttf");
    color: #FAFAFA;
    font-size: 12px;
}


#h-help{
    grid-area: help;
}

#h-summary{
    grid-area: summary;
    font-family: "Raleway";
    src: url("../fonts/Raleway.ttf") format("ttf");
    color: #FAFAFA;
    font-size: 14px;
    
}
#h-shortcuts{
    grid-area: shortcuts;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
}

#h-container{
    margin: 10px;
    border-radius: 25px;
    background: #373A3D;
    padding: 20px;
    width: 200px;
    height: 110px;
}

#h-select{
    grid-area: select;
}

#h-subjects{
    grid-area: subjects;
}

#h-side{
    z-index: 3;
    grid-area: side;
    background-color: black;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}